@import '../../partials/variable';
.flexRowSetting { 
    display: flex;
    flex-flow: row nowrap;
    padding: $unit;
}

.flexColumnSetting {
    display: flex;
    flex-flow: column nowrap;
    padding: $unit;
}

.responsiveImg { 
    max-width: 50%; 
    height: auto
}

#counterContainer {
    @extend .flexRowSetting;
    justify-content: center;
    background-color: $subBgColor;
    #counterCard {
        @extend .flexColumnSetting;
        align-items: center;
        margin: 0 0.5*$unit;
        gap: 0.5*$unit;
        border: 1px solid white;
        img { 
            @extend .responsiveImg;
        }
        .counter {
            font-weight: bold;
            font-size: $unit * 1.5;
        }
    }
}

#instructionCardContainer {
    @extend .flexColumnSetting;
    align-items: center;
    img {
        @extend .responsiveImg;
    }
}