@import '../../partials/variable';

@mixin flexRowNowrap {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: $unit;
}

// mobile
.loginComponent, 
.loginForm,
.oAuthContainer { 
    @include flexRowNowrap();
    padding: $unit;
    text-align: center;
}

.loginForm,
.signupForm {
    position: relative;
    gap: $unit*0.5;
    background-color: $brandColor;
    .loginBtn,
    .signupBtn {
        width: 50%;
    }
    .emailError { 
        border: 3px solid red;
        color: tomato;
    }
    .passwordError { 
        border: 3px solid red;
        color: tomato;
    }
}

.oAuthContainer {
    display: flex;
    flex-flow: column nowrap;
    gap: $unit;
    
    .oAuths {
        display: flex;
        gap: $unit;
        #googleLogo, 
        #githubLogo {
            width: 50px;
            border-radius: 50%;
        }
        #githubLogo { 
            background-color:white;
        }
    }
}


// tablet
// @include tablet();

// desktop
// @include desktop();
