@import '../../partials/variable';

@mixin flexRowNowrap {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: $unit;
}

// mobile
.loginComponent, 
.loginForm,
.oAuthContainer { 
    @include flexRowNowrap();
    padding: $unit;
    text-align: center;
}

.loginForm,
.signupForm {
    position: relative;
    gap: $unit;
    background-color: $brandColor;
    .callToAction {
        font-size: $unit * 1.1;
    }
    .emailField,
    .passwordField {
        display: flex;
        flex-direction: column;
        label {
            align-self: flex-start;
            font-size: $unit * 1.1;
            font-weight:500;
        }
        input {
            text-decoration: none;
            border: none;
            height: $unit * 1.5;
        }
        
    }
    button[name=loginButton] {
        width: 100%;
        background-color: #ffffff;
        padding: $unit * 0.7;
        text-decoration: none;
        border: none;
        cursor: pointer;
    }
    .emailError { 
        border: 3px solid red;
        color: tomato;
    }
    .passwordError { 
        border: 3px solid red;
        color: tomato;
    }
}

.oAuthContainer {
    display: flex;
    flex-flow: column nowrap;
    gap: $unit;
    
    .oAuths {
        display: flex;
        gap: $unit;
        #googleLogo, 
        #githubLogo {
            width: 50px;
            border-radius: 50%;
        }
        #githubLogo { 
            background-color:white;
        }
    }
}


// tablet
// @include tablet();

// desktop
// @include desktop();
