// @import './variables';
@import '../../partials/variable';

@mixin flexRowNowrap {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

// mobile
.loginComponent, 
.loginForm,
.oAuthContainer { 
    @include flexRowNowrap();
    padding: $unit;
    text-align: center;
}

.loginForm {
    gap: $unit*0.5;
    background-color: $brandColor;
    .loginBtn {
        width: 100%;
    }
}

.oAuthContainer {
    display: flex;
    flex-flow: column nowrap;
    gap: $unit;
    
    .oAuths {
        display: flex;
        gap: $unit;
        #googleLogo, 
        #githubLogo {
            width: 50px;
            border-radius: 50%;
        }
        #githubLogo { 
            background-color:white;
        }
    }
}


// tablet
// @include tablet();

// desktop
@include desktop();
