// Screen size
$moible : 335px;
$tablet : 758px; 
$desktop : 1024px;

// Colors
$brandColor : #418794;
$mainFontColor : white; 
$mainBgColor : black; 
$subBgColor : rgb(87, 87, 87);

// units
$unit : 1rem;

@mixin mobile { 
    @media screen and (min-width: $moible) {
        .loginComponent { 
            background-color: blue;
        }
    }
}

@mixin tablet {
    @media screen and (min-width: $tablet) {
        .loginComponent { 
            background-color: blue;
        }
    }
    
}

@mixin desktop {
    @media screen and (min-width: $desktop) {
        .loginComponent { 
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
    }
    
}
