.loginComponent,
.loginForm,
.oAuthContainer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  text-align: center;
}

.loginForm,
.signupForm {
  position: relative;
  gap: 1rem;
  background-color: #16b1d4;
}
.loginForm .callToAction,
.signupForm .callToAction {
  font-size: 1.1rem;
}
.loginForm .emailField,
.loginForm .passwordField,
.signupForm .emailField,
.signupForm .passwordField {
  display: flex;
  flex-direction: column;
}
.loginForm .emailField label,
.loginForm .passwordField label,
.signupForm .emailField label,
.signupForm .passwordField label {
  align-self: flex-start;
  font-size: 1.1rem;
  font-weight: 500;
}
.loginForm .emailField input,
.loginForm .passwordField input,
.signupForm .emailField input,
.signupForm .passwordField input {
  text-decoration: none;
  border: none;
  height: 1.5rem;
}
.loginForm button[name=loginButton],
.signupForm button[name=loginButton] {
  width: 100%;
  background-color: #ffffff;
  padding: 0.7rem;
  text-decoration: none;
  border: none;
  cursor: pointer;
}
.loginForm .emailError,
.signupForm .emailError {
  border: 3px solid red;
  color: tomato;
}
.loginForm .passwordError,
.signupForm .passwordError {
  border: 3px solid red;
  color: tomato;
}

.oAuthContainer {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
}
.oAuthContainer .oAuths {
  display: flex;
  gap: 1rem;
}
.oAuthContainer .oAuths #googleLogo,
.oAuthContainer .oAuths #githubLogo {
  width: 50px;
  border-radius: 50%;
}
.oAuthContainer .oAuths #githubLogo {
  background-color: white;
}
