#creator #profile img {
  border-radius: 50%;
  max-width: 25%;
  height: auto;
  padding: 3rem;
}
#creator #profile #selfIntroduction {
  text-align: left;
  font-size: 1.5rem;
  border: 2px solid white;
  box-shadow: #16b1d4 1px 1px 10px;
  background-color: white;
  color: black;
  padding: 1rem;
  margin: 2rem;
}
#creator #careers .career {
  display: flex;
  flex-flow: column nowrap;
  padding: 1rem;
  margin: 2rem;
  border: 2px solid #16b1d4;
  box-shadow: white 1px 1px 10px;
  text-align: center;
  line-height: 2.5rem;
}
#creator #careers .career .title {
  font-size: 1.5rem;
  border-bottom: 0.2rem solid #16b1d4;
}
#creator #careers .career .title img {
  padding: 1rem;
  max-width: 50%;
  height: auto;
}
#creator #careers .career .title .date {
  font-size: 1rem;
}
#creator #careers .career .description {
  padding: 1rem;
  font-size: 1.3rem;
}
