.visible {
  display: 1;
}

.hidden {
  display: none;
}

.menuTabs #tabContainer #tabTable {
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
}
.menuTabs #tabContainer #tabTable th, .menuTabs #tabContainer #tabTable td {
  border: 0.1rem solid #16b1d4;
  padding: 0.5rem;
}

.pagination {
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
  padding: 1rem;
  font-size: 1.5rem;
}
.pagination button {
  font-size: 1.5rem;
  padding: 0 0.2rem;
}

.webEditorForm {
  padding: 0.5rem;
}
.webEditorForm .title {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
.webEditorForm .title p {
  font-size: 1.5rem;
}
.webEditorForm .editorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.webEditorForm .editorContainer #pawconEditor {
  width: 100%;
  height: 50%;
  background-color: #999999;
}

.codex-editor:nth-child(2) {
  display: none;
}
