#cartForm {
  display: flex;
  flex-flow: column nowrap;
  max-width: 80%;
  margin: 0 10%;
}
#cartForm input {
  text-align: center;
}
#cartForm #cartList {
  text-align: center;
}
#cartForm #cartList #list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
#cartForm #cartList #list table {
  max-width: fit-content;
  border-collapse: collapse;
  border: 1px solid black;
}
#cartForm #cartList #list table th, #cartForm #cartList #list table tr {
  padding: 1rem;
}
#cartForm #cartList #list table td {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
#cartForm #cartList #list .payment {
  display: flex;
  flex-flow: column nowrap;
}

.buttonComponent {
  font-size: 1rem;
  padding: 0.5rem;
  margin: 0 auto;
  min-width: 150px;
}

.buttonComponent:hover {
  animation: none;
}
