/* Mobile */




/* Hide header and footer menu in mobile */

/* PC  */
@media screen and (min-width:721px) {
    .grid-wrapper {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: minmax(50px, auto);
        gap: 1em;
    }

    .header {
        grid-column: 1/13;
        background-color: lightblue;
    }
    
    .carousel {
        grid-column: 1/13;
        background-color: lightblue;
    }

    .main {
        grid-column: 1/9;
        background-color: lightblue;
    }

    .aside {
        grid-column: 9/13;
        background-color: lightblue;
    }
    
    .section {
        grid-column: 1/13;
        background-color: lightblue;
    }
    
    .footer {
        grid-column: 1/13;
        background-color: lightblue;
    }
    
}