.flexNowrap, #payment, #payment #methods, #payment #methods .labels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

#payment {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

#payment #texts span {
  font-size: 1.5rem;
}

#payment #methods {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#payment #methods .labels {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#payment #methods #metamaskLogo {
  max-width: 50%;
  height: auto;
}

#payment #methods #metamaskLogo:hover {
  -webkit-animation: backlight_M 1s ease-in-out infinite;
          animation: backlight_M 1s ease-in-out infinite;
}

#payment #methods #paypalLogo {
  max-width: 50%;
  height: auto;
}

#payment #methods #paypalLogo:hover {
  -webkit-animation: backlight_P 1s ease-in-out infinite;
          animation: backlight_P 1s ease-in-out infinite;
}

@-webkit-keyframes backlight_M {
  0% {
    background-color: lightyellow;
  }
  100% {
    background-color: whitesmoke;
  }
}

@keyframes backlight_M {
  0% {
    background-color: lightyellow;
  }
  100% {
    background-color: whitesmoke;
  }
}

@-webkit-keyframes backlight_P {
  0% {
    background-color: lightskyblue;
  }
  100% {
    background-color: whitesmoke;
  }
}

@keyframes backlight_P {
  0% {
    background-color: lightskyblue;
  }
  100% {
    background-color: whitesmoke;
  }
}
