.flexRowSetting, #counterContainer {
  display: flex;
  flex-flow: row nowrap;
  padding: 1rem;
}

.flexColumnSetting, #instructionCardContainer, #counterContainer #counterCard {
  display: flex;
  flex-flow: column nowrap;
  padding: 1rem;
}

.responsiveImg, #instructionCardContainer img, #counterContainer #counterCard img {
  max-width: 50%;
  height: auto;
}

#counterContainer {
  justify-content: center;
  background-color: #16b1d4;
  color: white;
}
#counterContainer #counterCard {
  align-items: center;
  margin: 0 0.5rem;
  gap: 0.5rem;
  border: 3px solid white;
}
#counterContainer #counterCard .counter {
  font-weight: bold;
  font-size: 1.5rem;
}

#instructionCardContainer {
  align-items: center;
}
