// Screen size
$tablet : 576px; 
$pc : 992px;

// Colors
$brandColor : #418794;
$mainFontColor : white; 
$mainBgColor : black; 
$subBgColor : rgb(87, 87, 87);

// Display and item setting
$flexGap: 1rem; 
$gridGap: 1rem;