@import './variables';
@import './display';

@mixin flexRowNowrapAllCenter {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

@mixin flexColumNowrapAllCenter {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

// mobile
#navigation { 
    position: absolute;
    right: 0;
    padding: 2rem;
    background-color: $subBgColor;
    width: fit-content;
    height: 100vh;
    .navBtns { 
        @include flexRowNowrapAllCenter();
        padding: 2rem;
        font-size: 1.5rem;
        #triggerBtn {
            position: absolute;
            top: $flexGap;
        }
        #closeBtn { 
            display: none;
        }
    }
    .menu { 
        @include flexColumNowrapAllCenter();
        // display: none;
        .dropdown { 
            .dropdown-sub { 
                display: none;
            }
        }
    }
}


// tablet
@media screen and (min-width : $tablet) {

}

// pc
@media screen and (min-width : $pc) {
    #navigation { 
        background-color: lightblue;
    }
}