@import './variables';
@import './display';

@mixin flexRowNowrapAllCenter {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

@mixin flexColumNowrapAllCenter {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

// state : menu toggle
.toggled {
    display: block;
    cursor: pointer;
}

.notToggled {
    display: none;
    cursor: pointer;
}

.dropdownSub {
    display: none;
}

// media query
@media screen and (min-width: $tablet ) {
    #navigation {
        background-color: pink;
    }
}

@media screen and (min-width: $pc) {
    #navigation {
        background-color: lightblue;
    }
}