@import '../../../subComponents//partials/variable';

.flexRowSetting { 
    display: flex;
    flex-flow: row nowrap;
    padding: $unit;
}

.flexColumnSetting {
    display: flex;
    flex-flow: column nowrap;
    padding: $unit;
}

.responsiveImg { 
    max-width: 50%; 
    height: auto
}

#counterContainer {
    @extend .flexColumnSetting;
    justify-content: center;
    background-color: rgb(231, 250, 255);
    color: black;
    text-align: center;

    #counterCard {
        @extend .flexColumnSetting;
        align-items: center;
        margin: 0 0.5*$unit;
        gap: 0.5*$unit;
        .counter {
            font-weight: bold;
            font-size: $unit * 3;
        }
    }
}

#counterTitle, 
#instructionCardTitle {
    padding: $unit;
    font-size: $unit*2;
    font-weight:500;
}

#instructionCardsContainer {
    @extend .flexColumnSetting;
    gap: $unit;
    padding: $unit;
    #instructionCard {
        @extend .flexColumnSetting;
        align-items: center;
        border: 2px solid $brandColor;
        padding: $unit*2;
        box-shadow: rgb(255, 255, 255) 1px 1px 10px;
        img {
            @extend .responsiveImg;
        }
        .buttonComponent { 
            margin-top: $unit*1.5;
        }
    }
}