.flexRowSetting, #counterContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  padding: 1rem;
}

.flexColumnSetting, #counterContainer #counterCard, #instructionCardContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  padding: 1rem;
}

.responsiveImg, #counterContainer #counterCard img, #instructionCardContainer img {
  max-width: 50%;
  height: auto;
}

#counterContainer {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #575757;
}

#counterContainer #counterCard {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0.5rem;
  gap: 0.5rem;
  border: 1px solid white;
}

#counterContainer #counterCard .counter {
  font-weight: bold;
  font-size: 1.5rem;
}

#instructionCardContainer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
