.loginComponent,
.loginForm,
.oAuthContainer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  text-align: center;
}

.loginForm,
.signupForm {
  position: relative;
  gap: 0.5rem;
  background-color: #16b1d4;
}
.loginForm .loginBtn,
.loginForm .signupBtn,
.signupForm .loginBtn,
.signupForm .signupBtn {
  width: 50%;
}
.loginForm .emailError,
.signupForm .emailError {
  border: 3px solid red;
  color: tomato;
}
.loginForm .passwordError,
.signupForm .passwordError {
  border: 3px solid red;
  color: tomato;
}

.oAuthContainer {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
}
.oAuthContainer .oAuths {
  display: flex;
  gap: 1rem;
}
.oAuthContainer .oAuths #googleLogo,
.oAuthContainer .oAuths #githubLogo {
  width: 50px;
  border-radius: 50%;
}
.oAuthContainer .oAuths #githubLogo {
  background-color: white;
}
