@import '../partials/variable';
@import '../partials/animation';
@import '../partials/mixin';

@mixin imgGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    .image {
        order: 0;
    }
    .texts {
        order: 1;
        p {
            margin-top: $unit*2;
        }
    }
    .buttonComponent { 
        order: 2;
        grid-column-start: 2; // move button to right
        transform: translateY(-200%);
    }
}

// common
.texts {
    padding: 2*$unit;
    span {
        font-weight: bold;
        font-size: 2 * $unit;
    }
    p {
        font-size: 1.2 * $unit;
    }
}

.imgGrid {
    @include imgGrid();
}

// mobile : image banner becomes flex
.imgVertical { 
    text-align: center;
    width: 100%;
    margin: 0 auto;
    .buttonComponent {
        margin-bottom: $unit;
        margin-top: $unit;
    }
    .buttonComponent:hover {
        animation: pulse 1s infinite ease-in-out;
    }
    .image {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
    }
}

// video banner
.videoBanner {
    background-color: white;
    color: black;
    text-align: center;

    iframe { 
        height: 400px;
    }

    .buttonComponent {
        margin: $unit;
    }
    .buttonComponent:hover {
        animation: pulse 1s infinite ease-in-out;
    }
}

@media screen and (min-width: $tablet) {
    // tablet : image banner is forced to be a grid
    .imgVertical, .imgGrid { 
        @include imgGrid();
    }
}