@import '../partials/variable';

#navigation {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;  
    position: relative;
    background-color: rgb(255, 255, 255);
    width: 100%;
    #title { 
        color: black;
        font-size: $unit * 1.5;
    }
    #logo {        
        margin-left: $unit*2;
        // logo image is responsive
        max-width: 25%;
        height: auto;
    }
    #menu { 
        font-weight: bold;
        font-size: 1.5*$unit;
        top: 100%;
        width: 100%;
        right: 0;
        position: absolute;
        text-align: left;
        z-index: 10000;
        #lists { 
            background-color: $brandColor;
            padding: $unit*3 0 $unit*3 $unit*3;
            height: fit-content;
            .buttonComponent {
                transform: translateX($unit*-1.5);
                width: 100%;
            }
        }
        
    }
}

.buttons {
    #trigger, 
    #close { 
        font-size: $unit * 3;
        margin-right: $unit*2;
        max-height: 100%;
        padding: $unit;
        color: black;
        animation: rotate 0.25s 1 ease-in-out;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
        opacity: 1;
    }

    100% {
        transform: rotateY(180deg);
        opacity: 1;
    }
}

// .fold & .unfold : #lists of class name
.fold { 
    display: none;
    cursor: none;
}
.unfold {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: $unit;
    position: relative;
    top: 0;
    cursor: pointer;
    color: white;
    animation: slide 0.25s 1 ease-in-out;
}


@keyframes slide {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@media screen and (min-width : $tablet) {
    #navigation {
        background-color: red;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        margin-bottom: auto;
        .buttons, .logoContainer, .buttonComponent { 
            display: none;
        }
        #lists::before {
            content: 'Logo here';
        }
        #lists { 
            display: flex;
            justify-content: space-around;
            cursor:auto;
            .listsItem {
                flex-basis: content;
            }
        }
    }
}

@media screen and (min-width : $desktop) {
    #navigation { 
        background-color: green;
    }
}