@import '../../../subComponents//partials/variable';

.galleryMain {
    display : flex;
    flex-flow: column nowrap; 
    justify-content: center;
    align-items:center;

    .cardContainer {
        display : grid; 
        grid-template-columns:repeat(2, 1fr);
        gap : 1rem ;
        padding : 1rem;
    }
    .card {
        display : flex; 
        flex-flow :column nowrap;
        justify-content :flex-end;
        align-items :center;
        border : 2px solid $brandColor;
        gap: $unit; 
        
        .cardImage {
            // make a responsive image 
            max-width: 100%;
            height: auto;
        } 

        .cardDetails {
            width: 100%;
            background-color:rgb(43, 147, 189);
            text-align: left;
            padding: $unit;
        }
    }
    .pagination {
        display : flex ;
        flex-flow : row nowrap ;
        gap: 1rem;
        padding : 1rem;
        font-size:1.5rem ;
        button { 
            font-size : 1.5rem; 
            padding:0 0.2rem;
        }
    }
}
