@import '../../../subComponents//partials/variable';

.galleryMain {
    display : flex;
    flex-flow: column nowrap; 
    justify-content: center;
    align-items:center;

    .cardContainer {
        display : grid; 
        grid-template-columns:repeat(2, 1fr);
        gap : 1rem ;
        padding : 1rem;
    }
    .card {
        display : flex; 
        flex-flow :column nowrap;
        justify-content :flex-end;
        align-items :center;
        border : 2px solid $brandColor;
        gap: $unit; 
        
        .cardImage {
            // make a responsive image 
            max-width: 100%;
            height: auto;
        } 

        .cardDetails {
            width: 100%;
            background-color:rgb(43, 147, 189);
            text-align: left;
            padding: $unit;
        }
    }
    .pagination {
        display : flex ;
        flex-flow : row nowrap ;
        gap: 1rem;
        padding : 1rem;
        font-size:1.5rem ;
        button { 
            font-size : 1.5rem; 
            padding:0 0.2rem;
        }
    }
}

.renderDetails {
    border: 2px solid white;
    .artwork {
        text-align: center;
        background-color: rgb(66, 66, 66);
        border-top: 0;
    }
    .productInfo { 
        display: flex;
        flex-flow: column nowrap;
        gap: $unit;
        align-items: center;
        background-color: rgb(31, 31, 31);
        .texts {
            display: flex;
            flex-direction: column;
            .price { font-size: $unit*1.5; margin-bottom: $unit;}
        }
        .blockchainForm {
            display: grid;
            grid-template-columns: repeat(auto-fill, 150px);
            max-width: 100%;
            padding: 0 $unit*2 $unit*2 $unit*2;
            fieldset {
                text-align: center;
                font-size: $unit*1.3;
                padding: $unit*0.5;
                label {
                    font-size: $unit;
                    padding: $unit;
                }
            }
            .buttonComponent {
                background-color: black;
                a { color: white;  font-size: $unit*1.3; padding: 0;}
            }
        }
    }
}

// media query tablet
@media screen and (min-width:$tablet) {
    .renderDetails {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}