@import '../../partials/variable';

.cart { 
    text-align: center;
    #list { 
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
        padding: $unit;
        table {
            max-width: fit-content;
            border-collapse: collapse;
            border:1px solid black;
            th, tr { 
                padding: $unit;
            }
            
            td { 
                padding-top: $unit;
                padding-bottom: $unit;
            }
        }
        .payment { 
            display: flex;
            flex-flow: column nowrap;
        }
    }
}

.buttonComponent { 
    font-size: $unit;
    padding: $unit *0.5;
    margin: 0 auto;
    min-width: 150px;
}

.buttonComponent:hover { 
    animation: none;
}