@keyframes pulse {
  0% {
    transform: translateY(-2px) rotate(-5deg) scale(1.1);
  }
  50% {
    transform: translateY(-2px) rotate(5deg);
  }
  100% {
    transform: translateY(0) rotate(-5deg);
  }
}
/* toggle.scss  */
@keyframes rotate-reverse {
  0% {
    transform: rotate(360deg);
    opacity: 0;
  }
  100% {
    transform: rotate(0deg);
    opacity: 1;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}
@keyframes slide {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes hidden {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes blink {
  0% {
    border-right: 1;
  }
  100% {
    border-right: 0;
  }
}
.texts {
  padding: 2rem;
}
.texts span {
  font-weight: bold;
  font-size: 2rem;
}
.texts p {
  font-size: 1.2rem;
}

.imgGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
}
.imgGrid .image {
  order: 0;
}
.imgGrid .texts {
  order: 1;
}
.imgGrid .texts p {
  margin-top: 2rem;
}
.imgGrid .buttonComponent {
  order: 2;
  grid-column-start: 2;
  transform: translateY(-200%);
}

.imgVertical {
  text-align: center;
  width: 100%;
  margin: 0 auto;
}
.imgVertical .buttonComponent {
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.imgVertical .buttonComponent:hover {
  animation: pulse 1s infinite ease-in-out;
}
.imgVertical .image {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.videoBanner {
  background-color: white;
  color: black;
  text-align: center;
}
.videoBanner iframe {
  height: 400px;
}
.videoBanner .buttonComponent {
  margin: 1rem;
}
.videoBanner .buttonComponent:hover {
  animation: pulse 1s infinite ease-in-out;
}

@media screen and (min-width: 768px) {
  .imgVertical, .imgGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
  }
  .imgVertical .image, .imgGrid .image {
    order: 0;
  }
  .imgVertical .texts, .imgGrid .texts {
    order: 1;
  }
  .imgVertical .texts p, .imgGrid .texts p {
    margin-top: 2rem;
  }
  .imgVertical .buttonComponent, .imgGrid .buttonComponent {
    order: 2;
    grid-column-start: 2;
    transform: translateY(-200%);
  }
}
