#footerContainer #footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 1rem;
  bottom: 0;
  background-color: white;
  color: black;
}
#footerContainer #footer #section {
  display: flex;
  flex-flow: column nowrap;
}
#footerContainer #copyright {
  text-align: center;
  background-color: #575757;
}
