#navigation {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background-color: white;
  width: 100%;
}
#navigation #title {
  color: black;
  font-size: 1.5rem;
}
#navigation #logo {
  margin-left: 2rem;
  max-width: 25%;
  height: auto;
}
#navigation #menu {
  font-weight: bold;
  font-size: 1.5rem;
  top: 100%;
  width: 100%;
  right: 0;
  position: absolute;
  text-align: left;
  z-index: 10000;
}
#navigation #menu #lists {
  background-color: #16b1d4;
  padding: 3rem 0 3rem 3rem;
  height: fit-content;
}
#navigation #menu #lists .buttonComponent {
  transform: translateX(-1.5rem);
  width: 100%;
}

.buttons #trigger,
.buttons #close {
  font-size: 3rem;
  margin-right: 2rem;
  max-height: 100%;
  padding: 1rem;
  color: black;
  animation: rotate 0.25s 1 ease-in-out;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: rotateY(180deg);
    opacity: 1;
  }
}
.fold {
  display: none;
  cursor: none;
}

.unfold {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  position: relative;
  top: 0;
  cursor: pointer;
  color: white;
  animation: slide 0.25s 1 ease-in-out;
}

@keyframes slide {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@media screen and (min-width: 758px) {
  #navigation {
    background-color: pink;
  }
}
@media screen and (min-width: 1024px) {
  #navigation {
    background-color: green;
  }
}
